header
{
    width:960px;
    height:300px;
    background-image:linear-gradient(to right,red,blue,pink,yellow);
    border-width:2px 2px 0px 2px;
    border-color:red;
    border-style:solid;
    margin:auto;
}

.myRow
{
    width:960px;
    padding:20px;
    height:530px;
    box-sizing:border-box;
    background-color:skyblue;
    margin:auto;
    border-width:0px 2px 2px 2px;
    border-color:red;
    border-style:solid;
    height:auto;

}
.myRow .carousel-inner
{
    margin:auto;
    padding:0px;
    box-sizing:border-box;




}

.carousel-item img
{
    width:440px;
    height:250px;
    margin-left:10px;
    margin-bottom:10px;
    object-fit:cover;

}


.carousel-caption h3
{
    color:red;
}




















